SNOWFLAKE_ACCOUNT=gdc40472.us-east-1
SNOWFLAKE_USER=SharathReddyC
SNOWFLAKE_PASSWORD=Valentine@2026
SNOWFLAKE_DATABASE=CUSTOMER_DB
SNOWFLAKE_SCHEMA=PUBLIC
SNOWFLAKE_WAREHOUSE=COMPUTE_WH

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=analytics_db
POSTGRES_USER=sharathkottam
POSTGRES_PASSWORD=